@import "vars";

.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

    .main-site-footer{
        transform: translateY(-4px);

        a{
            transition: all 0.5s ease-in-out;
        }

        
    }

    .col{
        
            .social-links{
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;

                .site-blue-link{
                    color: #437ed7;
                    transition: all 0.5s ease-in-out;

                    &:first-child{
                        margin: 30px 0;
                    }
    
    
                    &:hover{
                        color: #e62930
                    }
                }
                
            }

            .links{
                .site-blue-link{
                    &:not(:last-child){
                        margin-right: 50px;
                    }

                    transition: all 0.5s ease-in-out;

                    &:hover{
                        color: #e62930
                    }
                }
                
            }
    
        
    }

    
}

.copyright-wrapper{
    display: flex;
    justify-content: space-between;

    .col{
        width: 40%;
    }

    .copyright-wrapper-right{
        display: flex;
        justify-content: space-between;

        .wpml-ls-legacy-list-horizontal{
            padding: 0;
        }

        .wpml-ls-legacy-list-horizontal a{
            padding: 0 15px 0 0;
        }

        .wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer{
            margin-bottom: 0;
        }

        .wpml-ls-statics-footer a:hover, .wpml-ls-statics-footer a:focus{
            background-color: #fff;
        }

        .created-by{
            margin: 0;

            transition: all 0.5s ease-in-out;

            &:hover {
                color: #e62930
            }
        }
    }
}