@import "vars";

.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

    @include media-breakpoint-down(md) {
        width: auto!important;
        margin: 0 40px;
        padding-top: 47px;
        
    }

    .content{
        p{
            &:first-child{
                margin-bottom: 53px;

                br{
                    @include media-breakpoint-down(md) {
                        content: '';
                        height: 45px;
                        display: block;
                    }
                }
            }
        }
        
        
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        margin: 0 30px;

        .col{
            width: 100%!important;

            &:last-child{
                margin-top: 28px;

                p{
                    &:first-child{
                        margin-bottom: 53px;
        
                        br{
                            @include media-breakpoint-down(md) {
                                height: 0;
                            }
                        }
                    }
                }
            }
        }
    }


    .main-site-footer{
        transform: translateY(-4px);

        a{
            transition: all 0.5s ease-in-out;
        }

        
    }

    .col{

        .footer-text{
            a{
                color: #437ed7;
                transition: all 0.5s ease-in-out;

                &:hover{
                    color: #e62930
                }
            }
        }
        
        .social-links{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .site-blue-link{
                color: #437ed7;
                transition: all 0.5s ease-in-out;

                &:first-child{
                    margin: 30px 0;
                }


                &:hover{
                    color: #e62930
                }
            }
            
        }

        .links{
            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
            }
            .site-blue-link{
                &:not(:last-child){
                    margin-right: 50px;
                }

                transition: all 0.5s ease-in-out;

                &:hover{
                    color: #e62930
                }

                @include media-breakpoint-down(md) {
                    margin-bottom: 33px;
                }
            }
            
        }
    
        
    }

    
}

.copyright-wrapper{
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        width: auto;
        margin: 0 30px;
        flex-direction: column-reverse;
        padding: 45px 0;
    }

    .col{
        width: 40%;

        @include media-breakpoint-down(sm) {
            width: 100%;

            &:first-child{
                margin-top: 45px;
            }
        }
    }

    .copyright-wrapper-right{
        display: flex;
        justify-content: space-between;

        .wpml-ls-legacy-list-horizontal{
            padding: 0;

            .wpml-ls-flag{
                @include media-breakpoint-down(sm) {
                    width: 43px;
                    height: 29px;
                }
                
            }
        }

        .wpml-ls-legacy-list-horizontal a{
            padding: 0 15px 0 0;

            @include media-breakpoint-down(sm) {
                padding: 0 38px 0 0;
            }
        }

        

        .wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer{
            margin-bottom: 0;
        }

        .wpml-ls-statics-footer a:hover, .wpml-ls-statics-footer a:focus{
            background-color: #fff;
        }

        .created-by{
            margin: 0;

            transition: all 0.5s ease-in-out;

            &:hover {
                color: #437ed7
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}