@import "vars";

.home-top-slider {
    overflow: hidden;


    .swiper-slide {
        position: relative;
        transition: all .5s;
        height: 100vh;
        height: calc(100vh - 109px);

        @include media-breakpoint-down(md) {
            height: calc(100vh - 79px);
        }

        .main-img {
            width: 100%;
            height: 100%;
        }

        .home-slider-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home-slider-text {
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);

            @include media-breakpoint-down(lg) {
                top: 39%;
            }

            .main-text {
                p {
                    font-size: 40px;
                    line-height: 50px;
                    color: #231f20;
                    font-weight: 300;
                    text-align: center;
                    margin-bottom: 50px;

                    @include media-breakpoint-down(md) {
                        font-size: 24px;
                        line-height: 30px;
                        margin-bottom: 37px;
                    }
                }

            }

            .link-text {
                a {
                    font-size: 18px;
                    line-height: 28px;
                    color: #164996;
                    font-weight: 300;

                    transition: all 0.5s ease-in-out;

                    &:hover {
                        color: #e62930;
                    }

                    @include media-breakpoint-down(md) {
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }

        }
    }

    .swiper-pagination {
        bottom: 77px;

        @include media-breakpoint-down(md) {
            bottom: 39px;
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            margin: 0 9px;
            background: #e62930;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background: #447dd7;
            }

        }
    }
}

.home-all-category {

    a {

        .all-category-link {
            &:hover {
                color: #e62930
            }
        }

    }


    .all-category-text {
        width: 43%;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        color: #040000;
        font-weight: 300;

    }

    .all-category-link {
        color: #164996;
        transition: all 0.5s ease-in-out;
    }
}

.tip-block {
    height: 100%;
    text-align: center;
    background: #447dd7;
    position: relative;

    .tip-content {
        padding: 90px 0;

        @include media-breakpoint-down(md) {
            margin: 0 30px;
            padding: 74px 0 44px;
        }

        &:hover {
            .tip-img-block {
                transform: scale(1.1)
            }
        }

        .tip-title {
            font-size: 24px;
            line-height: 26px;
            color: #fefefe;
            font-weight: 300;
            margin-bottom: 35px;

            @include media-breakpoint-down(md) {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 25px;
            }
        }

        .tip-text {
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            font-weight: 300;
            // margin-bottom: 55px;
        }

        .tip-link {
            font-size: 16px;
            line-height: 20px;
            color: #fefefe;
            font-weight: 300;
            padding-top: 10px;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: #e62930
            }
        }

        .tip-img-block {
            height: 185px;
            transition: all 0.5s ease-in-out;


            .tip-img {
                height: 100%;
            }
        }
    }
}

.posts-block {
    background: #efefef;

    .top-posts-content {
        padding: 100px 0 70px;
        text-align: center;

        @include media-breakpoint-down(md) {
            padding: 71px 0 50px;
        }

        .posts_block-title {
            p {
                margin-top: 0;
                margin-bottom: 35px;
                font-size: 30px;
                line-height: 40px;
                color: #040000;
                font-weight: 300;

                @include media-breakpoint-down(md) {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 42px;
                }
            }
        }

        .posts-block-link {
            a {
                font-size: 18px;
                line-height: 28px;
                color: #164996;
                font-weight: 300;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: #e62930
                }

                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }

    .post-items {
        display: flex;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        .post-wrapper {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .post-bg-link {
            overflow: hidden;
            display: block;

            .site-bg {
                height: 520px;
                transform: scale(1);
                transition: all 0.5s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                @include media-breakpoint-down(md) {
                    height: 255px;
                }
            }
        }


        .content-wrapper {
            width: 64.59%;
            padding: 85px 0;

            @include media-breakpoint-down(md) {
                padding: 43px 0 50px;

                .post-date {
                    font-size: 16px;
                    line-height: 28px;
                }

                .post-title {
                    font-size: 20px;
                    line-height: 20px;
                }

                .short-desc {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            @include media-breakpoint-down(sm) {
                width: auto;
                margin: 0 30px;
            }
        }

        .short-desc {
            height: 80px;
            overflow: hidden;
        }

        .read-more {
            margin-top: 35px;
            margin-bottom: 0;

            a {
                font-size: 18px;
                line-height: 28px;
                color: #164996;
                font-weight: 300;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: #e62930
                }

                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 28px;
                }

            }

        }
    }
}

.check-social-media {
    text-align: center;

    .social-media-top {
        padding: 45px 0 50px;
    }

    p {
        margin: 0;
    }

    .social-media-title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 26px;
        color: #164996;
    }

    .social_media_images {
        display: flex;
        position: relative;

        .social_media_image {
            width: 25%;
            overflow: hidden;


            img {
                width: 100%;
                height: 325px;
                object-fit: cover;
                transform: scale(1);
                transition: all 0.5s ease-in-out;


                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .swiper-button {
            height: 100%;
            top: 0;
            margin-top: 0;
            width: 80px;
            right: 0;
            opacity: 0;


        }
    }
}

.find-us-link {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #437fd7;
    transform: translateY(-4px);

    @include media-breakpoint-down(md) {
        height: 75px;
    }


    a {
        font-size: 20px;
        line-height: 26px;
        color: #f8f8f8;
        transition: all 0.5s ease-in-out;

        &:hover {
            color: #e62930
        }

        @include media-breakpoint-down(md) {
            font-size: 18px;
            line-height: 26px;
        }
    }
}